header {
  width: 100%;
  border-bottom: 2px solid #555;
  position: relative;
}

header svg {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
}

.main-container {
  width: 320px;
  margin: 0 auto;
  padding: 50px 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  width: 60px;
  height: 60px;
  border: solid 2px #555;
  margin: 2.5px;
  color: white;
}

.present {
  background-color: #e5f321;
  border: solid 2px #e5f321;
  color: black;
}

.correct {
  background-color: #4caf50;
  border: solid 2px #4caf50;
  color: black;
}

.absent {
  background-color: #aaa;
  border: solid 2px #aaa;
  color: black;
}

.row {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  margin: 0 auto;
  font-size: 1rem;
}

.keyboard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.key {
  width: 50px;
  height: 50px;
  margin: 2.5px;
}

.empty-key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 50px;
}

.enter-key {
  width: 80px;
  height: 60px;
  margin: 2px;
  cursor: pointer;
  border-radius: 10px;
}

.delete-key {
  width: 80px;
  height: 60px;
  margin: 2px;
  cursor: pointer;
  border-radius: 10px;
}

.modal-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
}

.modal-container {
  width: 500px;
  border-radius: 5px;
  min-height: 300px;
  background-color: rgb(34, 1, 61);
}

.title {
  text-align: center;
  font-size: 36px;
  color: white;
}

.puzzle {
  width: 200px;
  margin: 0 auto;
  font-size: 30px;
}

.puzzle-word {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.instructions-container {
  width: 450px;
  background-color: #121213;
  text-align: left;
  padding: 40px;
  border-radius: 10px;
  color: white;
  position: relative;
}

.instructions-container button {
  position: absolute;
  right: 20px;
  top: 70px;
  font-size: x-large;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.instructions-container h2 {
  font-size: xx-large;
  margin-bottom: 0;
}

.instructions-container .subtitle {
  font-size: large;
}

.instructions-container ul {
  margin-left: 0;
  padding-left: 20px;
}

.instructions-container li {
  font-size: medium;
  padding-bottom: 10px;
}

.instructions-container h3 {
  font-size: medium;
}

.instructions-container .row {
  justify-content: left;
}

.instructions-container .box {
  width: 40px;
  height: 40px;
}

.instructions-container p {
  font-size: medium;
}

.instructions-container .new-puzzle {
  padding: 30px 0;
  border-top: 2px solid #aaa;
}

@media (max-width: 600px) {
  .keyboard-container {
    width: 320px;
    font-size: 0.6rem;
  }
  .key {
    width: 27px;
    height: 28px;
  }
  .empty-key {
    width: 14px;
    height: 28px;
  }
  .enter-key {
    width: 44px;
    height: 35px;
  }
  .delete-key {
    width: 44px;
    height: 35px;
  }
  .box {
    width: 40px;
    height: 40px;
  }
}